.section_article_desc{
    h4{
        + h4{
            margin-bottom: 1.25vw;
        }
    }
}

article{
  margin-bottom: 1.875vw;
    .article_img{
      img{
        width: 100%;
      }
    }
    .article_content{
      padding: 1.625vw 0;
      > p{
        margin-bottom: 0.375vw;
      }
      h4{
        font-weight: bold;
        margin-bottom: 1.25vw;
      }
    }
 }
//  recent aruticle
.recent_article{
  display: flex;
  width: 100%;
  margin-bottom: 2vw;
  .recent_article_img{
    width: 50%;
  }
  .recent_article_content{
    width: 50%;
    margin-left: 1vw;
    h4{
      font-weight: bold;
      font-size: 1.25vw;
      margin-bottom: 0.625vw;
    }
     p{
      font-size: 0.75vw;
      margin-bottom: 0.625vw;
     }
  }
}

// featured
.section_featured_article{
  p{
    margin-bottom: 1.2;
  }
  img{
    width: 100%;
  }
}



.section_news_letters{

  background-image: url('/assets/images/newsletter_bg.png');  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .form_group{
    display: flex;
    align-items: center;
    width: 100%;
     .form_input{
      width: 70%;
      margin-right: 6.25vw;
      input{
        width: 100%;
        padding: 1.1vw 0.625vw;
        border-radius: 0.5vw;
        border: 0.063vw solid #FF0000;
        background-color: transparent;
        color: #F2F4F5;
        font-weight: 100;
        &:focus{
          outline: none;
          box-shadow: none;
        }
        &::placeholder{
          color: #F2F4F5;
        }
      }
     }
     .form_btn{
        width: 30%;
     }
  }

}

.w-img-100{
  width: 100%;
}
