.section_article_desc{
    h4{
        + h4{
            margin-bottom: 1.25vw;
        }
    }



    // article icon 
    .div_article_icons{
      display: flex;
      justify-content: end;
      font-size: 1.2vw;
      @include grid-sm-down{
        font-size: 15px;
      }
        a{
            padding-left: 0.75vw;
            color: $white;
            @include grid-sm-down{
              margin-left: 15px;
            }
        }
    }
}


article{
  margin-bottom: 1.875vw;
    .article_img{
      img{
        width: 100%;
      }
    }
    .article_content{
      padding: 1.625vw 0;
      @include grid-sm-down{
       padding: 40px 0;
      }
      > p{
        margin-bottom: 0.375vw;
        @include grid-sm-down{
          margin-bottom: 10px;
        }
      }
      h4{
        font-weight: bold;
        margin-bottom: 1.25vw;
      }
    }
 }
//  recent aruticle
.recent_article{
  display: flex;
  width: 100%;
  margin-bottom: 2vw;
  @include grid-sm-down{
   flex-flow: column;
  }
  .recent_article_img{
    width: 50%;
    @include grid-sm-down{
     width: 100%;
     }
  }
  .recent_article_content{
    width: 50%;
    margin-left: 1vw;
    @include grid-sm-down{
      width: 100%;
      padding: 40px 0;
     }
    h4{
      font-weight: bold;
      font-size: 1.25vw;
      margin-bottom: 0.625vw;
      @include grid-sm-down{
       font-size: 20px;
       }
    }
     p{
      font-size: 0.75vw;
      margin-bottom: 0.625vw;
      @include grid-sm-down{
        font-size: 14px;
        }
     }
  }
}

// featured
.section_featured_article{
  p{
    margin-bottom: 1.2;
  }
  img{
    width: 100%;
  }
}



.section_news_letters{
  background-image: url('/assets/images/newsletter_bg.png');  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .form_group{
    display: flex;
    align-items: center;
    @include grid-sm-down{
      flex-flow: column;
      align-items: start;
    }
    width: 100%;
     .form_input{
      width: 70%;
      margin-right: 0.625vw;
      @include grid-sm-down{
       width: 100%;
       margin-bottom: 10px;
         
         }
      input{
        width: 100%;
        padding: 1.1vw 0.625vw;
        border-radius: 0.5vw;
        border: 0.063vw solid #FF0000;
        background-color: transparent;
        color: #F2F4F5;
        font-weight: 100;
        @include grid-sm-down{
            padding: 20px 10px;
            font-size: 15px;
              border: 0.063vw solid #fff;
            }
        &:focus{
          outline: none;
          box-shadow: none;
        }
        &::placeholder{
          color: #F2F4F5;
        }
      }
     }
     .form_btn{
        width: 30%;
        .btn_brand_outline_white{
          border-radius: 0.5vw;
          @include grid-sm-down{
         padding: 10px 30px;
          }
        }
     }
  }

}

.w-img-100{
  width: 100%;
}

// blog page news letter section

.section_blog_news_letters{

  background-image: url('/assets/images/newsletter_blogs_bg.png');  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .form_group{
    display: flex;
    align-items: center;
    @include grid-sm-down{
      flex-flow: column;
      align-items: start;
    }
    width: 100%;
     .form_input{
      width: 70%;
      margin-right: 0.625vw;
      @include grid-sm-down{
       width: 100%;
       margin-bottom: 10px;
         
         }
      input{
        width: 100%;
        padding: 1.1vw 0.625vw;
        border-radius: 0.5vw;
        border: 0.063vw solid #FF0000;
        background-color: transparent;
        color: #F2F4F5;
        font-weight: 100;
        @include grid-sm-down{
            padding: 20px 10px;
            font-size: 15px;
              border: 0.063vw solid #fff;
            }
        &:focus{
          outline: none;
          box-shadow: none;
        }
        &::placeholder{
          color: #F2F4F5;
        }
      }
     }
     .form_btn{
        width: 30%;
        .btn_brand_outline_white{
          border-radius: 0.5vw;
          @include grid-sm-down{
         padding: 10px 30px;
          }
        }
     }
  }

}

.revers{
  @include grid-sm-down{
   flex-direction: column-reverse;
     }
}