/*--------------*\
    Hero Section
\*--------------*/
.section_banner{
    background-image: url('/assets/images/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding:322px 0 254px;
    position: relative;
    &.browse_bg{
        background-image: url('/assets/images/browse-bg.jpg');
        padding:322px 0 0;
         img{
            position: relative;
            z-index: 99;
            margin-bottom: 23px;
        }
        &:before{
            background-color: rgba(0,0,0,0.6);
            background-image: none;
        }
    }
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-image: url('/assets/images/banner-overly.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    h1{
        line-height: 1.31em;
        position: relative;
        z-index: 99;
    }
    p{
        position: relative;
        z-index: 99;
    }
    a{
        position: relative;
        z-index: 99;
    }
}
.article-img-hero{
    .img-hero{
      width: 100vw;
      height: 37.153vw;  
    }
}
// article img hero section img

    
// // article latest blogs
// .article_main{
//     margin: 3.2vw 0;
//     .main-con{
//         > h4{
//             position: relative;
//             &:before{
//                 content: "";
//                 position: absolute;
//                 bottom: -1.2vw;
//                 left: 0;
//                 width: 3.8vw;
//                 height: 0.3vw;
//                 background-color: white;
//             }
//         }
//         > h3{
//             margin-top: 3vw !important;
//         }
           
//         > p{
//             color: $greyish-white;
//             font-size: 0.8vw;
//             margin-top: 0.7vw;
    
//             +p{
//                 margin-top: 3.742vw;
//             }
//         }
//     }
//     //recent-article-section
//     .recent-article {
//     margin: 3.8vw 0;
//     position: relative;
//             &:before{
//                 content: "";
//                 position: absolute;
//                 bottom: -1.2vw;
//                 left: 0;
//                 width: 3.8vw;
//                 height: 0.3vw;
//                 background-color: white;
//             }

//     }
//     .mini-title{
//         font-weight: $font-bold ;
//         font-family: $roboto-font-family;
//     }
//     h4{
//         font-weight: $font-bold;
//         margin: 0.9vw 0;
//     }
//     p{
//         color: $greyish-white;
//         font-size: 0.8vw;
//         font-weight: 200;
//         margin-top: 0.7vw;
//     }
//     .read-more{
//         margin: 0.5vw 0;
//         position: relative;
//                 &:before{
//                     content: "";
//                     position: absolute;
//                     bottom: -0.6vw;
//                     left: 0;
//                     width: 3.8vw;
//                     height: 0.3vw;
//                     background-color: white;
//                 }
    
//         }
    
// }