/*--------------*\
    Base
\*--------------*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    font-family: $main-font-family;
    color: map_get($bg-colors, $white);
    font-size: $font-size-7;
    position: relative;
    background-color: $black;
    font-weight: $font-regular;
}

.container{
  @include grid-xxl{
    max-width: 65vw;
  }
  
}
.section{
  padding: 3.5000000000000004vw  0;
}
.section_pt{
  padding-top:  3.5000000000000004vw;
}
.section_pb{
  padding-bottom:  3.5000000000000004vw;
}
.fw_semibold{
  font-weight: 600;
}
.mb_34{
  margin-bottom: 1.7000000000000002vw;
}
.clr_light{
  color: #8C8C8C;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column{
  flex-flow: column;
}
.ms-44{
  margin-left: 2.1999999999999997vw;
}
.my-4{
  margin-top: 1.2vw;
  margin-bottom: 1.2vw;
}
.mt-5{
  margin-top: 2.4vw;
}
.date_com{
  font-size: 0.75vw;
  font-weight: 200;
  &.mb-50{
    margin-bottom: 3.125vw;
  }
}
.mb-50{
  margin-bottom: 3.125vw;
}
.mb-10{
  margin-bottom: 0.625vw !important;
}
.mb-80{
  margin-bottom: 5vw !important;
}
.pr-5{
  padding-right: 0.5vw;
}