/*------------------*\
    Carousel Section
\*------------------*/
// .ml-72{
//     margin-left: 72px;
// }
.section_slider_comp {
        margin-top: 65px;
    .item{
        a{
            display: block;
        }
    }
    .owl-dots,
    .owl-nav {
        display: none;
    }
}