/*--------------*\
    Lists Section
\*--------------*/
.movie_info{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    a{
        color: $white;
        font-weight: $font-bold;
        font-size: 20px;

    }
    span{        
        display: inline-block;
        width: 7px;
        height: 7%;
        background-color: $white;
        border-radius: 30px;
        margin: 0 10px;
        position: relative;
        z-index: 99;
    }
}

.cat_main{
    display: flex;
     justify-content: space-between;
     margin-bottom: 0;
    .cat_dropdown{
        width: 33.33%;
        position: relative;
        > a{
            padding: 1.3vw;
            width: 100%;
            background-color: #1C1C1C;
            text-align: center;
            color: white;
            font-size: 0.8999999999999999vw;
            @include grid-sm-down{
                font-size: 15px;
                 }
            &.is_checked{
                background-color: $scab-red;
            }
         }
        .list_dropdown{
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: auto;
            li{
                a{
                    padding: 1.3vw;
                    width: 100%;
                    background-color: #1C1C1C;
                    text-align: center;
                    color: white;
                    font-size: 0.8999999999999999vw;
                    @include grid-sm-down{
                       padding: 12px 0;
                       font-size: 15px;
                         }
                    &.is_checked{
                        background-color: $scab-red;
                    }
                    &:hover{
                        background-color: $scab-red;
                    }
                }

            }
        }
        &.is_checked{
            .list_dropdown{
              display: block;
            }
            > a{
                background-color: $scab-red;
             }
        }
    }
}
