/*--------------*\
    header Section
\*--------------*/
.home_header,
.logedin_header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99999999;
    .user_info{
        text-align: right;
    }
}
.header_logo{
    width: 9.6vw;
    display: inline-block;
    img{
        width: 100%;
    }
}

// loged in user header 
.logedin_header{
    .navbar-collapse{
        position: relative;
         top: 0.6vw;
      > ul{
             margin-left: 6vw;   
        li{
            a{
                font-size: 0.8999999999999999vw;
                font-family: $manrope-font-family;
                color: $white !important;
                font-weight: $font-extra-light;
                &.active{
                    font-weight: $font-bold;
                }
            }

            + li{
                margin-left: 1.6vw;
             }
        }
       }
       > .users_info{
            form{
                display: flex;
                align-items: center;
                > a{
                    margin-right: 1.2vw;
                    i{
                        font-size: 0.8999999999999999vw;
                        color: $white;
                    }
                }
                .dropdown{
                    button{
                     background-color: transparent;
                     border-color: transparent;
                     padding: 0;
                     img{
                         width: 2vw;
                         height: 2vw;
                         border-radius: 2.5vw;
                     }
                     &:after{
                         content: unset;
                     }
                    }
                 }
            }

       }
    }
}