/*--------------*\
    header Section
\*--------------*/
.home_header,
.logedin_header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99999999;
    .user_info{
        text-align: right;
    }
}
.header_logo{
    width: 192px;
    display: inline-block;
}

// loged in user header 
.logedin_header{
    .navbar-collapse{
        position: relative;
         top: 12px;
      > ul{
             margin-left: 120px;   
        li{
            a{
                font-size: 18px ;
                font-family: $manrope-font-family;
                color: $white !important;
                font-weight: $font-extra-light;
                &.active{
                    font-weight: $font-bold;
                }
            }

            + li{
                margin-left: 32px;
             }
        }
       }
       > .users_info{
            form{
                display: flex;
                align-items: center;
                > a{
                    margin-right: 24px;
                    i{
                        font-size: 18px;
                        color: $white;
                    }
                }
                .dropdown{
                    button{
                     background-color: transparent;
                     border-color: transparent;
                     padding: 0;
                     img{
                         width: 40px;
                         height: 40px;
                         border-radius: 50px;
                     }
                     &:after{
                         content: unset;
                     }
                    }
                 }
            }

       }
    }
}